* {
  font-family: "Montserrat";
  box-sizing: border-box;
}

:root {
  --cor-preto: #000;
  --cor-texto: #9c967c;
  --cor-texto-escuro: #5c5744;
  --cor-fundo: #dfd7d7;
  --cor-fundo-card: #ece5e5;
}

body {
  background-color: var(--cor-fundo);
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  color: var(--cor-texto-escuro);
  text-align: start;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: var(--cor-fundo-card);
  gap: 2rem;
  padding: 3rem;
  border-radius: 30px;
  box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.content:hover {
  transform: scale(1.05);
}

.content-add-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

#ipt_newTask,
#btn--newTask {
  border: none;
  font-size: 1rem;
  outline: none;
  padding: 1rem;
}

#ipt_newTask {
  width: 20rem;
  border-radius: 1rem;
}

#btn--newTask {
  background-color: var(--cor-texto-escuro);
  color: var(--cor-fundo);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 400ms ease;
}

#btn--newTask:hover {
  background-color: var(--cor-texto);
}

.content-body {
  width: 100%;
  max-width: 386px;
}

#to--do--list {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1rem;
}

#to--do--list li {
  list-style-type: none;
  font-size: 1.4rem;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 400ms ease;
}

#to--do--list li:hover {
  background-color: #faf3f3ad;
  transition: 400ms ease;
  border-radius: 1rem;
  padding-left: 1rem;
}

#btn-ok {
  border: none;
  background-color: var(--cor-texto);
  color: var(--cor-fundo-card);
  padding: .4rem .8rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 400ms ease;
}

#btn-ok:hover {
  background-color: #b9b5a2;
}

